@charset "UTF-8";

html[lang="ja"] {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  padding-top: 40px;

}

header {
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 80%;
    background-color: black;
    align-items: center;
  }

  .top-button {
    position: fixed;
    right: 0;
    display: flex;
    background-color: #000;
    color: #fff;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 0.5rem;
    bottom: 1rem;
    font-size: clamp(0.5px, 2.8vw, 16px);
    padding: 8px;
    border: solid #fff;
  }

  .logo-image {
    margin-right: auto;
    padding-left: 20px;
    width: 7rem;
  }

  .logo-image2 {
    width: 8.3rem;
  }

 a {
    color: #fff;
    text-decoration: none;
  }
  
  .indention {
    display: flex;
    flex-wrap: wrap;
    line-height: 3px;
    align-items: center;
    width: 100%;
    max-height: 40px;
    min-height: 12px;
  }

  .indention-area {
    padding-left: 2rem;
    display: flex;
    flex-flow: column;
  }

  .text-size {
    width: 340px;
    font-size: clamp(14px, 1.8vw, 16px);
  }
   
  .menu-item {
    list-style: none;
    font-size: clamp(0.5px, 1.8vw, 16px);
    display: inline-block;
    padding: 10px;
    color: #fff;
  }

  .menu-group {
    padding-right: 30px
  }

  .menu-button {
    display: flex;
    flex-wrap: wrap;
    padding-right: 24px;
    align-items: center;
  }

  .purchase-button a{
    background-color: #fff;
    color: #000;
    padding: 4px 51px;
    border-radius: 50px;
    font-size: clamp(0.5px, 1.8vw, 16px);
  }

  .purchase-button a:hover{
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
    padding: 4px 50px;
    border-radius: 50px;
    font-size: clamp(0.5px, 1.8vw, 16px);
  }  

  .black {
    background-image:url(../image/mainvisual.png);
    background-position: right top;
    background-repeat: no-repeat;
    display: flex;
    background-color: black;
    height: auto;
    border-radius: 0px 0px 0px 100px;
    max-width: 150%;
  }

.scroll-image {
  padding-top: 40px;
  padding-left: 36px;
}

  h1 {
    color: #fff;
    font-size: clamp(50px, 1.5vw, 54px);
  }

  p {
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 500;
    color: rgb(15, 15, 15);
    padding: 0.5rem;
  }

  .gray_color {
    display: flex;
    color: #606060;
    font-weight: 550;
    padding: 0px;
    font-size: clamp(14px, 1.5vw, 16px);
  }

/*左右のアニメーション*/
  .slide-in {
    overflow: hidden;
    display: inline-block;
  }
  
  .slide-in_inner {
    display: inline-block;
  
  }
  
  .leftAnime{
      opacity: 0;/*事前に透過0にして消しておく*/
  }
  
  .slideAnimeLeftRight {
    animation-name:slideTextX100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  @keyframes slideTextX100 {
    from {
    transform: translateX(-100%); /*要素を左の枠外に移動*/
          opacity: 0;
    }
  
    to {
    transform: translateX(0);/*要素を元の位置に移動*/
      opacity: 1;
    }
  }
  
  .slideAnimeRightLeft {
    animation-name:slideTextX-100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  
  @keyframes slideTextX-100 {
    from {
    transform: translateX(100%);/*要素を右の枠外に移動*/
      opacity: 0;
    }
  
    to {

      opacity: 1;
    }
  }

  /* タイトルアニメーション */
  .slide-in2 {
    overflow: hidden;
    display: inline-block;
  }
  
  .slide-in_inner2 {
    display: inline-block;
  
  }
  
  .leftAnime2 {
      opacity: 0;/*事前に透過0にして消しておく*/
  }

  .slideAnimeLeftRight2 {
    animation-name:slideTextX100;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  @keyframes slideTextX100 {
    from {
    transform: translateX(-100%); /*要素を左の枠外に移動*/
          opacity: 0;
    }
  
    to {
    transform: translateX(0);/*要素を元の位置に移動*/
      opacity: 1;
    }
  }
  
  .slideAnimeRightLeft2 {
    animation-name:slideTextX-100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  
  @keyframes slideTextX-100 {
    from {
    transform: translateX(100%);/*要素を右の枠外に移動*/
      opacity: 0;
    }
  
    to {

      opacity: 1;
    }
  }
 
/* その他アニメーション */
.slide-in3 {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner3 {
  display: inline-block;

}

.leftAnime3 {
    opacity: 0;/*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight3 {
  animation-name:slideTextX100;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
    opacity: 0;
}

@keyframes slideTextX100 {
  from {
  transform: translateX(-100%); /*要素を左の枠外に移動*/
        opacity: 0;
  }

  to {
  transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft3 {
  animation-name:slideTextX-100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
    opacity: 0;
}


@keyframes slideTextX-100 {
  from {
  transform: translateX(100%);/*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {

    opacity: 1;
  }
}

.text {
    color: #ffffff;
    font-size: clamp(18px, 1.8vw, 24px);
    font-weight: normal;
}

.backblue {
  font-size: clamp(16px, 1.8vw, 18px);
  font-weight: 550;
  color: #000000;
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, #002F52, #b0c6da) 1;
  padding: 10px 10px; 
}

.backblue2 {
  font-size: clamp(20px, 1.8vw, 24px);
  font-weight: 550;
  color: #000000;
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, #002F52, #b0c6da) 1;
  padding: 10px 10px; 
}
 

.maintext {
    display: flex;
    flex-flow: column;
    text-align: left;
    padding-top: 13vh;
    padding-left: 25%;
    gap: 8px;
}

.option {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}



/* テキスト共通 */

.whitecolor {
  border: solid 1px #000000;
  display: flex;
  font-weight: bold;
  justify-content: center;
  width: 800px;
  height: 100px;
  font-size: clamp(16px, 2.6vw, 24px);
  align-items: center;
  border-radius: 0px 0px 0px 5px;
}
   
.blackcolor {
  display: flex;
  font-weight: normal;
  background-color: black;
  color: #fff;
  justify-content: center;
  width: 300px;
  height: 100px;
  font-size: clamp(24px, 2.6vw, 24px);
  align-items: center;
}  

.textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titletext {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 2%;
}

.about-text {
  font-weight: bold;
  font-size: clamp(16px, 2.6vw, 20px);
  font-weight: 550;
  line-height: 200%;
}

h2 {
  font-size: clamp(40px, 2.6vw, 56px);
  letter-spacing: -1px;
  border-left: solid 5px #000000; 
  text-align: center;
  padding-left: 1rem;
}

h4 {
  font-size: clamp(20px, 2.6vw, 24px);
  text-align: center;
  padding-top: 2rem;
}

.color {
  color: #002F52;
}

/*NewOpenエリア*/

.new_oficce-area {
  background-image:url(../image/background-logo.png);
  background-repeat:  no-repeat;
  background-position: right top;  
  display: flex;
  flex-flow: wrap;
  width: auto;
  padding-top: 100px;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
}

.new_oficce-image {
  border-radius: 3%;
  box-shadow: 15px 15px 0px 0 rgb(0, 0, 0);
  max-width: 70%; 
}

/* aboutaエリア*/

.about-area {
  background-color: #ECECEC;
  display: flex;
  flex-flow: wrap-reverse;
  width: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about-image {
  border-radius: 3%;
  box-shadow: 15px 15px 0px 0 rgb(0, 0, 0);
  max-width: 70%; 
}

/* business */

.business-area {
  background-color: #000;
  display: flex;
  flex-flow: wrap;
  width: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #fff;
  font-size: clamp(40px, 2.6vw, 56px);
  border-left: solid 5px #ffffff; 
  text-align: center;
  padding-left: 1rem;
}

.business-image {
  border-radius: 3%;
  box-shadow: 15px 15px 0px 0 rgb(44, 44, 44);
  max-width: 70%;
}

.backwhite {
  font-size: clamp(18px, 1.8vw, 24px);
  font-weight: 550;
  line-height: 50px;
  color: #ffffff;
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, #ffffff, #233b52) 1;
  padding: 10px 15px; 
}

.white {
  color: #fff;
}

/* recruitエリア */

.recruit-area {
  display: flex;
  flex-flow: wrap-reverse;
  width: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.recruit-image {
  border-radius: 3%;
  box-shadow: 15px 15px 0px 0 rgb(0, 0, 0);
  max-width: 50%; 
}


.date-title {
  color: #fff;
  background-color: #000;
  width: 335px;
  padding: 10px 60px;
  text-align: center;
}

.date {
  width: 335px;  /* 幅を固定 */
  resize: none;  /* リサイズを無効にする */
  padding-top: 1rem;
  padding-bottom: 0%;
}

.recruit-box {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.recruit-boxarea {
  display: flex;
  width: 70%;
  justify-content: center;
  gap: 40px 40px;
  flex-wrap: wrap;
  margin: auto;
}

.recruit-deta { 
  padding: 80px 0px 160px 0px;
  align-items: center;
}

.sub {
  color: #7E7E7E;
  font-weight: bold;
  font-size: 18px;
}

.bold {
  font-weight: bold;
  color: #005694;
}

.bluetext {
  font-weight: bold;
  color: #438EC4;
  padding: 0%;
}

.bluelink {
  font-weight: bold;
  color: #005694;
  text-decoration:underline;
}

.Introduction {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  gap: 20px;
}

.gray_box {
  background-color: #ECECEC;
  display: flex;
  width: auto;
  padding: 0px 140px 0px 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: left;
}

.box_text {
  text-align: center;
}

.gray_text {
  text-align: left;
  font-size: clamp(14px, 2.6vw, 16px);
}

.box_title {
  display: flex;
  flex-wrap: wrap;
}

.No_bold {
  font-weight: bold;
  font-size: clamp(32px, 1.8vw, 40px);
}

.bold_recruit {
  font-weight: bold;
  font-size: clamp(16px, 1.8vw, 20px);
  padding-left: 0px;
}

/* QAエリア */
.QA-area {
  background-color: #ECECEC;
  display: flex;
  flex-flow: wrap;
  width: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.QA-image {
  border-radius: 3%;
  box-shadow: 15px 15px 0px 0 rgb(0, 0, 0);
  max-width: 70%; 
}

.whitebox-area {
  background-image:url(../image/background-logo2.png);
  background-repeat:  no-repeat;
  background-position: left bottom; 
  background-color: #ECECEC;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
  align-items: center;
  gap: 20px;
}

.whitebox {
  background-color: #fff;;
  max-width: 75%;
  min-width: 50%;
  height: 20%;
  padding-top: 8px;
  padding-bottom: 2rem;
  border-radius: 10px;
  align-items: center;
}

.QAtext {
  text-align: left;
  font-size: clamp(12px, 2.6vw, 18px);
  padding: 0px 40px 0px 40px;
}

.Q {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.A {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.QAicon-image {
  padding: 1.3rem;
  width: clamp(5em, 1.8vw, 10em);;
}

.QAtitle {
  font-size: clamp(14px, 2.6vw, 20px);
  font-weight: bold;
  color: #005694;
  padding: 0px 40px 0px 40px;
}

.whiteboxtext {
  display: block;
  align-items: center;
}

/* footerエリア */
.footer-area {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  padding: 80px;
  text-align: center;
  align-items: center;
}

.white-text {
  color: #fff;
}

.button-black {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0px 80px 0px;
  padding: 12px 60px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
}

.mail-text {
  font-size: clamp(8px, 1.8vw, 16px) ;
}

.date-button-area {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company {
  font-size: 20px;
  font-weight: 550;
}

@media screen and (max-width: 480px) {
  .black {
    height: 400px;
  }

  section:before {
    content: "";
    display: block;
    height: 100px; /* 調整したい高さ（固定ヘッダーの高さ） */
    margin-top: -100px; /* heightと同じ分のネガティブマージン */
    visibility: hidden;
  }

  .scroll-image {
    padding-top: 180px;
    padding-left: 36px;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100%;
    background-color: black;
    padding-bottom: 16px;
  }

  .top-button {
    position: fixed;
    right: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 0.5rem;
    bottom: 1rem;
    font-size: clamp(0.5px, 1.8vw, 16px);
    border: solid #fff;
  }

  .logo-image {
    margin-right: auto;
    padding-left: 20px;
  }

 a {
    color: #fff;
    text-decoration: none;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    color: rgb(15, 15, 15);
    padding: 1rem;
  }

  h1 {
    color: #fff;
    font-size: clamp(24px, 1.5vw, 30px);
    letter-spacing: -1px;
  }

  .indention {
    display: flex;
    flex-wrap: wrap;
    line-height: 3px;
    align-items: center;
    width: 100%;
    max-height: 40px;
    min-height: 12px;
  }

  .indention-area {
    padding-left: 2rem;
    display: flex;
    flex-flow: column;
  }

  .text-size {
    width: 340px;
    font-size: 16px;
  }
   

  .gray_text {
    text-align: left;
    font-size: 16px;
  }

  .text {
    color: #ffffff;
    font-size: 8px;
    font-weight: bold;
}

  .maintext {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    text-align: left;
    padding-top: 20vh;
    padding-left: 8%;
    gap: 8px;
}

  .backblue {
    font-size: 18px;
    line-height: 50px;
    font-weight: 550;
    color: #000000;
    border-bottom: solid 3px;
    border-image: linear-gradient(to right, #002F52, #b0c6da) 1;
  }

  .backblue2 {
    font-size: 18px;
    line-height: 50px;
    font-weight: 550;
    color: #000000;
    border-bottom: solid 3px;
    border-image: linear-gradient(to right, #002F52, #b0c6da) 1;
  }
   
  .menu-item {
    list-style: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    color: #fff;
  }

  .menu-group {
    padding-right: 30px
  }

  .menu-button {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }

  .purchase-button a{
    background-color: #fff;
    color: #000;
    padding: 4px 24px;
    border-radius: 50px;
    font-size: 16px;
  }


  .purchase-button a:hover{
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
    padding: 4px 24px;
    border-radius: 50px;
    font-size: 16px;
  }  

  .new_oficce-image, .about-image, .business-image, .recruit-image {
    border-radius: 0%;
    box-shadow: 0px 0px 0px 0 rgb(0, 0, 0);
    max-width: 100%; 
  }
  
  .QA-image {
    border-radius: 0%;
    box-shadow: 0px 0px 0px 0 rgb(0, 0, 0);
    max-width: 100%;  
  }

  .new_oficce-area {
    background-image:url(../image/background-logo.png);
    background-repeat:  no-repeat;
    background-position: right top;  
    display: flex;
    flex-flow: wrap row-reverse;
    width: auto;
    padding-top: 40px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .about-area {
    background-color: #ECECEC;
    display: flex;
    flex-wrap: wrap-reverse;
    width: auto;
    padding-top: 40px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .business-area {
    background-color: #000;
    display: flex;
    flex-flow: wrap row-reverse;
    width: auto;
    padding-top: 40px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .recruit-area {
    display: flex;
    flex: wrap;
    width: auto;
    padding-top: 40px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .button-black {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 12px 60px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
  }

  .mail-text {
    font-size: clamp(8px, 1.8vw, 16px) ;
  }

  .whitecolor {
    border: solid 0px #000000;
    letter-spacing: -1.3px;
    width: 500px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    padding: 1rem;
}

   
.blackcolor {
  display: flex;
  font-weight: normal;
  background-color: black;
  color: #fff;
  justify-content: center;
  width: 800px;
  height: 50px;
  font-size: 16px;
  align-items: center;
}  

.Introduction {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  align-items: center;
  gap: 4px;
}

.gray_box {
  background-color: #ECECEC;
  display: flex;
  width: auto;
  padding: 0px 24px 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  text-align: left;
}

.box_text {
  text-align: center;
  gap: 1rem;
}

.gray_text {
  padding-left: 3rem;
  text-align: left;
  font-size: clamp(14px, 2.6vw, 16px);
}

.box_title {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0rem;
}

.No_bold {
  font-weight: bold;
  font-size: clamp(32px, 1.8vw, 40px);
}

.bold_recruit {
  font-weight: bold;
  font-size: clamp(16px, 1.8vw, 20px);
}

.QA-area {
  background-color: #ECECEC;
  display: flex;
  flex-flow: wrap;
  width: auto;
  padding-top: 40px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.whitebox-area {
  background-image:url(../image/background-logo2.png);
  background-repeat:  no-repeat;
  background-position: left bottom; 
  background-color: #ECECEC;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 10rem;
  align-items: center;
  gap: 10px;
}

  .whitebox {
    background-color: #fff;
    width: 50%;
    max-width: 100%;
    min-width: 100%;
    height: 20%;
    padding-top: 8px;
    padding-bottom: 2rem;
    border-radius: 0px;
    align-items: center;
  }

.QAtext {
  text-align: left;
  font-size: clamp(14px, 2.6vw, 18px);
  padding: 0px 40px 0px 40px;
}

.Q {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: left;
}

.A {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
}

.QAicon-image {
  padding: 2rem 0rem 2rem 0rem;
  width: 40px;
  height: auto;
}

.QAtitle {
  font-size: clamp(14px, 2.6vw, 20px);
  font-weight: bold;
  color: #005694;
  padding: 0px 40px 0px 40px;
}

.whiteboxtext {
  align-items: center;
}
}
